@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Jacquarda+Bastarda+9&family=Kode+Mono:wght@400..700&family=Micro+5&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Scribble&family=Seymour+One&family=Yarndings+12+Charted&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}
.section1 {    
    height: 100vh;
    width: 98vw;
    position: relative;
}
.flex {
    display: flex;
}
.image6 {
    background: url(./IMAGE\ \(6\).png);
    width: 50vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
}
.image7 {
    background: url(./IMAGE\ \(7\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    height: 100vh;
    width: 50vw;
}
.a {
    font-size: 20px; 
    margin-left: 75%;
    padding: 40px 50px;
}
.a a {
    color: white;
    text-decoration: none;
    /* border-bottom: solid 1px; */
}
.a a:hover {
    color: rgba(209, 209, 209, 1);
    text-decoration: none;
}
.backs {
    width: 99vw;
    height: 100vh;
    position: relative;
}
.text1 {
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 30% 0px 0px 40px;
}
.text1 p span {
    margin-left: 300px;
}
.text1 p:first-child {
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    letter-spacing: 10px;
    font-family: "Seymour One", sans-serif;
}
.text1 p:nth-child(2) {
    font-size: 20px;
    font-weight: 100;
    width: 350px;
    margin-bottom: 30px;
}
.text1 a {
    padding: 12px 30px 12px 20px;
    background-color: rgba(43, 43, 43, 0.6);
    color: white;
    border: gray solid 1px;
    border-radius: 3px;
    transition: 0.3s;
    text-decoration: none;
    letter-spacing: 2px;
}
.text1 a:hover {
    background-color: rgba(43, 43, 43, 0.9);
    color: white;
    border: gray solid 1px;
    border-radius: 3px;
    transition: 0.3s;
}
.fa-snowflake {
    position: fixed;
    bottom: 40px;
    right: 50px;
    color: rgb(192, 192, 192);
    font-size: 70px;
    font-weight: 100;
    z-index: 99;
}
/* .imgg {
    height: 100px;
    position: fixed;
    z-index: 99;
    bottom: 40px;
    right: 40px;
    animation-name: object1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
    animation-timing-function: linear;
}
@keyframes object1 {
    0% {
        transform: rotateY(0deg);
    }
    10% {
        transform: rotateY(90deg);
    }
    20% {
        transform: rotateY(180deg); 
    }
    30% {
        transform: rotateY(270deg);
    }
    40% {
        transform: rotateY(360deg);
    }
} */
.image7 div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.text1 a:hover i{
    margin-left: 40px;
}
.text1 a i {
    color: rgba(0, 0, 0,0.7);
    margin-left: 10px;
    transition: 0.3s;
}
.blackshadow {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
.shrift {
    font-family: "Anta", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    z-index: 99;
    width: 99vw;
    top: 0;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.8);
    padding: 0px 0 10px 0;
    position: fixed;
}
.transparent {
    display: flex;
    top: 70px;
    z-index: 99;
    width: 99vw;
    position: fixed;
    top: -16px;
}
.fa-regular {
    font-size: 20px;
}
.menu {
    padding: 40px 40px;
    color: rgba(209, 209, 209, 0.8);
    text-align: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.menu i {
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.menu i:hover {
    color: rgba(209, 209, 209, 1);
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.3s;
}
.section2 {
    width: 98vw;
    padding: 50px;
    display: flex;
}
.section2 > p {
    font-size: 30px;
    width: 360px;
    color: black;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}
.image8 {
    background: url(./IMAGE\ \(8\).png);
    background-repeat: no-repeat;
    width: 240px;
    color: white;
    transition: 0.3s;
}
.image9 {
    background: url(./IMAGE\ \(9\).png);
    background-repeat: no-repeat;
    width: 240px;
    color: white;
    transition: 0.3s;
}
.image10 {
    background: url(./IMAGE\ \(10\).png);
    background-repeat: no-repeat;
    color: white;
    width: 240px;
    height: 250px;
    transition: 0.3s;
}
.image8 p:hover {
    border: solid rgb(16, 13, 175) 3px;
    transition: 0.3s;
}
.image9 p:hover {
    border: solid rgb(16, 13, 175) 3px;
    transition: 0.3s;
}
.image10 p:hover {
    border: solid rgb(16, 13, 175) 3px;
    transition: 0.3s;
}
.flexsize p {
    background-color: rgba(26, 24, 24, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 100%;
}
.flexsize p a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.flexsize p a:hover {
    color: rgb(187, 187, 187);
    transition: 0.3s;
    text-decoration: none;
}
.flexsize {
   margin-left: 200px;
   font-size: 25px;
   display: flex;
   width: 800px;
   justify-content: space-between;
}
p {
    color: white;
    font-family: "Roboto", sans-serif;
}
.image4 {
    background: url(./IMAGE\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 45vw;
}
.image5 {
    background: url(./IMAGE\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 45vw;    
}
.section3 {
    width: 99vw;
}
.text2 {
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 50%;
    padding: 40px;
    background-color: rgba(43, 43, 43, 0.4);
}
.text2 p:first-child {
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.text2 p:nth-child(2) {
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    width: 80%;
}
.text2 a {
    padding: 10px;
    background-color: rgba(43, 43, 43, 0.6);
    color: white;
    border: gray solid 1px;
    border-radius: 3px;
    transition: 0.3s;
    text-decoration: none;
}
.text2 a:hover {
    background-color: rgba(43, 43, 43, 0.8);
    color: white;
    border: gray solid 1px;
    border-radius: 3px;
    transition: 0.3s;
}
.text2 a:hover i{
    margin-left: 15px;
}
.text2 a i {
    color: rgba(0, 0, 0,0.7);
    margin-left: 10px;
    transition: 0.3s;
}
.background {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14%;
}
.background p {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 40px;
}
.background button {
    color: rgb(212, 212, 212);
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.background i:hover {
    color: rgb(190, 190, 190);
    transition: 0.3s;
}
.background i {
    transition: 0.3s;
}
.section4 {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    margin-top: 10vh;
    background-color: rgb(241, 241, 241);
}
.image11 {
    background: url(./IMAGE\ \(11\).png);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 50vh;
    transition: 0.3s;
}
.image11:hover {
    box-shadow: 1px 2px 10px rgb(61, 61, 61);
    transition: 0.3s;
}
.image12:hover {
    box-shadow: 1px 2px 10px rgb(61, 61, 61);
    transition: 0.3s;
}
.image11:hover p{
    color: rgb(193, 193, 193);
    transition: 0.3s;
}
.image12:hover p{
    color: rgb(193, 193, 193);
    transition: 0.3s;
}
.image12 {
    background: url(./IMAGE\ \(12\).png);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 50vh;
    transition: 0.3s;
}
.image11 p, .image12 p {
    padding: 60px 40px 160px 40px;
    font-size: 30px;
    transition: 0.3s;
}
.image11 a, .image12 a {
    margin: 60px 40px 160px 40px;
}
.background1 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.background1 a {
    padding: 10px;
    background-color: rgba(43, 43, 43, 0.6);
    color: white;
    border: gray solid 1px;
    border-radius: 3px;
    transition: 0.3s;
    text-decoration: none;
}
.background1 a i {
    color: black;
    margin-left: 10px;
}
.background1 a:hover i {
    margin-left: 12px;
}
.background1 a:hover {
    background-color: rgba(43, 43, 43, 0.8);
    color: white;
    border: gray solid 1px;
    border-radius: 3px;
    transition: 0.3s;
}
.diver {
    height: 70px;
    width: 99vw;
    background-color: black;
}
.contact {
    padding: 50px 0 0 0;
    justify-content: space-between;
    border-bottom: solid 1px grey;
}
.sectionLast {
    background-color: #23293C;
    padding: 80px 100px 80px 40px;
    font-family: "Roboto", sans-serif;
}
.sectionLast a {
    text-decoration: none;
}
.sectionLast a:hover {
    text-decoration: none;
    color: rgb(197, 197, 197);
}
ul {
    list-style: none;
}
li {
    padding: 10px;
    font-size: 13px;
}
.mammut {
    color: white;
    font-weight: 500;
    font-size: 40px;
    font-family: "Anta", sans-serif;
}
.menubar {
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: solid 1px grey;
    padding-right: 100px;
}
.menubar div {
    color: white;
}
.contact img {
    background-color: #303851;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}
.padding {
    padding-top: 30px;
}
.padding p:nth-child(2) {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 5px;
}
.location {
    justify-content: space-around;
    padding: 40px 0;
}
.location i {
    color: white;
}
.location input {
    height: 25px;
    outline: none;
}
.icons {
    font-size: 20px;
    width: 180px;
    display: flex;
    justify-content: space-around;
}
.icons i:hover {
    color: rgb(165, 165, 165);
    transition: 0.3s;
}
.images {
    width: 80vw;
    height: 180vh;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.images p {
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}
.images img:nth-child(2) {
    height: 600px;
    width: 400px;
}
.images img:nth-child(3) {
    height: 470px;
    width: 350px;
    position: absolute;
    top: 50px;
    left: 405px;
}
.images img:nth-child(4) {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50px;
    left: 760px;
}
.images img:nth-child(5) {
    height: 500px;
    width: 450px;
    position: absolute;
    top: 655px;
    left: 0;
}
.images img:nth-child(6) {
    height: 500px;
    width: 400px;
    position: absolute;
    top: 555px;
    left: 455px;
}
.images img:nth-child(7) {
    height: 600px;
    width: 400px;
    position: absolute;
    top: 555px;
    left: 70%;
}
.images img:hover {
    transform: scale(0.98);
    transition: 0.5s;
}
.images img {
    transition: 0.5s;
}
.pAnime {
    width: 85vw;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}
.pAnime p {
    color: black;
    text-transform: uppercase;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 900;
    font-size: 40px;
    font-style: normal;
    animation-name: forAd;
    width: 350px;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: absolute;
}
@keyframes forAd {
    from {
        left: -350px;
        color: red;
    }
    to {
        left: 85vw;
        color: aqua;
    }
}